<div layout layout-align="center center" class="post-create-title">
    <h3> Posting your product is easy!</h3>
</div>
<div layout class="product-create-div">
    <md-card flex="60" flex-offset="20">
        <md-card-content>
            <form  novalidate name="createProduct">
                <div layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Product Name</label>
                        <input name="name" required="" ng-model="product.name"/>
                        <div ng-messages="createProduct.name.$error">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Website</label>
                        <input type="url" name="website" ng-model="product.website" required="" placeholder="http://..." >
                        <div ng-messages="createProduct.website.$error">
                            <div ng-message="url">This isn't a valid URL!</div>
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout>
                    <md-input-container flex>
                        <label>Description</label>
                        <textarea name="description" ng-model="product.description" maxlength="300" required="" ></textarea>
                        <div ng-messages="createProduct.description.$error">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>
                    <md-button class="md-icon-button md-button md-ink-ripple help-button" type="button" ng-transclude=""
                               aria-label="help">
                        <md-tooltip md-direction="top">
                            This is the description of your product. Everyone can see this.
                        </md-tooltip>
                        <md-icon md-font-set="material-icons"> live_help</md-icon>
                    </md-button>
                </div>

                <md-slider-container>
                    <span>No. of Testers</span>
                    <md-slider flex="" ng-model="color.green" min="0" max="1000" aria-label="green" id="testers" class="md-accent">
                    </md-slider>
                    <md-input-container>
                        <input flex="" type="number" ng-model="color.green" aria-label="testers" aria-controls="testers">
                    </md-input-container>
                </md-slider-container>




                <div layout>
                    <label>Product Image</label>
                </div>
                <div layout>
                    <md-input-container flex>
                        <input name="image" type="file" nv-file-select uploader="uploader" required="" accept=".jpg,.png,.gif"/>

                        <div ng-show="imageRequired">This is required!</div>
                    </md-input-container>
                </div>
                <div layout layout-align="center center">
                    <md-button type="submit" class="btn btn-default" ng-click="submit()">Post Project</md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>