// -----------------------------------------------------------------------------
// This file contains styles that are specific to the feed page.
// -----------------------------------------------------------------------------

.grid{

  padding-top: 50px;
  padding-bottom: 50px;
}
.product-content {
  padding-left: 16px;
}

.product-excerpt {
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}