// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background-color: rgba(56, 68, 83, 1.0);
  height: 120px;
  padding-top: 30px;

    img {
      max-width: 85px;
    }
}