// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.logo-div {
  padding: 23px 0 0 0;


}

.logo {
  max-width: 125px;
}

md-toolbar.main-toolbar {
  height: 80px;
  font-size: $text-normal;
  background-color: $white;

  .navigation {

    padding-top: 8px;


    li {
      display:inline-block;
      margin-left: 15px;
      vertical-align: middle;
      height: 35px;

      button {
        background-color: transparent;
      }

      .md-button.md-icon-button {
        padding: 0;
        width: 40px;
      }

      a.about-link {
        display: inline-block;
        padding-top: 8px;
      }
    }
  }
}

.login-btn md-icon {
  height: 35px;
  width: 35px;
}

.login-dialog {

  width: 400px;
  height: 350px;
}

.dialog-content {
  padding-top:20px;
}

.fb-notice {
  font-size: 12px;
  color: lighten($text-color, 10);
}



md-menu-item > .md-button md-icon {
    height: 17px;
     width: 17px;

}

md-menu-item > .md-button, md-menu-item, md-menu-content  {
  background-color: $white;
}

.md-open-menu-container.md-active {
  margin-top: 50px;
}