// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {

}

.btn-transparent {
  color: $text-color;
  border: 1px solid $text-color;
  padding: 6px 10px;
  border-radius: 8px;
}





.md-button.btn-default {
  background-color: $accent;
  color: $white;

  &:hover {
    color: $text-color;
  }
}